.joeyDropDown {
    color: red;
}

.bottomBorder {
    /* affix to bottom of page */
    position:fixed;
    left:0px;
    bottom:0px;
    /* TODO make height much taller for large screens and smaller for small ones */
    height:6em;
    width:100%;

    padding-top: 6%;
    padding-bottom: 4%;


    /* todo: make this white the generic background color */
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1),  rgba(255,255,255,1));

    text-align: center;

    /* figure out what to do when it gets very small
    or maye not. maybe that's out of scope of what I care about */
    .bottomLink {
        padding-right: 5%;
        padding-left: 5%;
        font-size: x-large;
    }
}

.sideAnimationOverlay {
    height: 100%; /* 100% Full-height */
    /* width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.mainContent {
    text-align: center;
    overflow-y: auto;

    .gamesContent {
        .gamesIFrame {
            /* todo make width cleaner */
            width: 100%;
            /* who cares it if has a fixed height? So does pico8 */
            height: 650px;
        }
    }
}

.sideAnimationOverlay {
    .title {
        font-size: xx-large;
    }
}